html, body {font: 11px Tahoma, Arial; color: white; background-color: black; height: 100%}
body, td {font: 11px Tahoma, Arial; color: white}
a:link, a:visited, a:active {color: #FFA927}
a:hover {color: white}
.menu:link, .menu:visited {background: url(../images/arr2.gif) no-repeat left; padding-left: 17px; padding-right: 27px; font: 12px Arial; text-decoration: none; height: 18px; color: white}
.menu:hover {text-decoration: underline}
.lnkOrange:link, .lnkOrange:visited {background: url(../images/arr1.gif) no-repeat left; padding-left: 13px; color: #FFA927}
.lnkOrange:hover {color: #CF7900}
.lnkOrangeB:link, .lnkOrangeB:visited {background: url(../images/arr3.gif) no-repeat left; padding-left: 11px; color: #FFA927}
.lnkOrangeB:hover {color: #CF7900}
.lnkOrangeC:link, .lnkOrangeC:visited {font: 16px Tahoma, Arial; color: #FFA927}
.lnkOrangeC:hover {color: #CF7900}
.lnkOrangeD:link, .lnkOrangeC:visited {color: #FFA927}
.lnkOrangeD:hover {color: #CF7900}
.lnkWhite:link, .lnkWhite:visited {background: url(../images/arr1.gif) no-repeat left; padding-left: 13px; color: white}
.lnkWhite:hover {color: #AAAAAA}
#pageTxt {-moz-box-sizing: padding-box; padding: 10px 15px 0px 40px; text-align: left}

.headImgBlock img {
    height: 233px;
    text-align: right;
}
